.spyproject/
.vscode/

**/__pycache__
*.pyc

*.egg
build/
dist/
*.egg-info/

/debug/
/logs/
/data/
/data
/dev_test/
/out/
/trained_models/
*.bk

dbg_*/**

pyrightconfig.json

search_*/
bk_search_*/
/dev_tools/debug_hidden
/code_single/configs/backups/

/app/resources/observers/RisleyPrismCsvData/*.csv